/* background */
:root {
	--background: url('https://cdn.wallpapersafari.com/81/40/B509GH.jpeg');
	/* Put your background here ^^ */
}

body {
	background: #000000 var(--background) center/100% fixed !important;
	background-repeat: no-repeat !important;
	background-size: 100% auto !important;
}
